*{
    padding:0;
    margin:0;
}

body{
    overflow-x:hidden;
    font-family: 'Spicy Rice', cursive;
    text-rendering: optimizeLegibility !important;
    }
    a {
        text-decoration: none;
        transition: all 500ms ease-in-out;
    }
    
    h1, h2, h4{
        font-family: 'PT Sans Narrow', Arial, sans-serif;
        text-transform: uppercase;
        font-weight:500;
        Padding-top:10px;
    }
    
    /*NAVIGATION*/
    
    .navbar {
        text-transform: uppercase;
        font-family:  'PT Sans Narrow', Arial, sans-serif;
        font-weight:  500;
    }
    
    /*HEADER*/
    
    .header{
        box-sizing:  border-box;
    }
    
    .slideshow-conrainer{
        position:  relative;
        
        margin: auto;
    }
    
    .header img{
        display:  block;
        margin-left:auto;
        margin-right:auto;
        max-width:700px;
        height: 500px;
    }
    /*About US*/
    .about {
        padding: 80px 0 80px;
        text-align: center;
    }
    
    .about span{
        width:100px;
        color: #4c4c;
        padding:10px;
        display:inline-block;
        font-size:20px;
    }
    
    
    .about i {
        height: 50px;
        width: 50px;
        font-size:25px;
        padding: 15px 10px;
        border-radius: 40%;
        background-color:#5cb85c;
        color: #fff;
    }
    
    
    /*MEET OUR TEAM*/
    
    .team h3{
        margin-top:30px;
    }
    
    .team img{
        margin-top: 30px;
        border-radius: 40%
    }
    
    .team p {
        color:#737373;
    }
    
    /*GET INVOLVED*/
    .getinvolved {
        padding: 50px 0 80px;
        text-align: center;
        background-color: #5cb8c;
        margin-top: 50px;
    }
    
    .getinvolved h2{
        color: #fff;
    }
    
    .getinvolved .options {
        padding: 30px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 30px;
    }
    .getinvolved i{
        width: 50px;
        height: 50px;
        font-size: 40px;
        
    }
    
    /*CONTACT*/
    .contact {
        background-color:#fff;
        margin-top:20px;
    }
    
    .context .message{
        height: 100px;
        margin-bottom: 5px;
    }
    
    /*FOOTER*/
    
    .footer {
        bachround-color: #fff;
        margin-top: 20px;
    }
    
    .footer .btn{
        margin-top:5px;
    }
    .footer i{
        font-size:20px;
    }
    
    /*DONATE*/
    
    .donate {
        background-color: #fff;
        margin-top: 20px;
    }
    
    .donate button{
        padding: 10px;
        width: 100px;
        margin: 20px;
    }
    
    .donate .btn:hover{
        background-color: #428bca !important;
        color:#fff !important;
    }
    
    .donate .form-control{
        width:330px;
        padding:10px;
        margin:5px;
    }
   
   /*GET INVOLVED*/

.getinvolved {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #5cb85c;
    margin-top: 50px;
}

.getinvolved h2 {
    color: #fff;
}

.getinvolved .options {
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.getinvolved i {
    width: 50px;
    height: 50px;
    font-size: 40px;
}